<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <a (click)="goToMain()">
                <ion-icon style="transform: scale(1.5);" name="chevron-back-outline"></ion-icon>
            </a> 
            {{spot != null ? spot.name : "Not found"}}
        </ion-title>
        <ion-icon (click)="removeSpot()" style="transform: scale(1.5);color: rgb(230,50,50);" class="mr-3" slot="end" name="trash-outline"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!isLoading && common.errorMessage != null">
    {{common.errorMessage}}
</ion-content>

<div *ngIf="isLoading" class="loadingDiv">
    <ion-spinner name="bubbles"></ion-spinner>
</div>

<ion-content [fullscreen]="true" *ngIf="spot != null && !isLoading && common.errorMessage == null">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-item>
            <ion-label *ngIf="spot.distance != null">{{ spot.distance }} km away</ion-label>
            <a routerLink="edit">
                <ion-button fill="outline" slot="end">Edit</ion-button>
            </a>
            <ion-button (click)="openNavigation()" fill="outline" slot="end">Navigate</ion-button>
        </ion-item>
        
        <ion-card-content>
            <p>{{spot.description}}</p>
            <div *ngIf="images && images.length > 0">
                <img class="my-1" *ngFor="let img of images" src="{{img}}" alt="{{spot.name}}">
            </div>
            
        </ion-card-content>
        </ion-card>
</ion-content>
