<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{title}} - Current location: {{currentLocation.latitude}}, {{currentLocation.longitude}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{title}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item *ngFor="let spot of allSpots" (click)="openSpotDetails(spot.RowKey)">
            <ion-avatar slot="start">
                <img src="assets/icon/favicon.png" />
            </ion-avatar>
            <ion-label>
                <h2>{{spot.name}}</h2>
                <p *ngIf="spot.distance">{{spot.distance}} km</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>