<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <a [routerLink]="['/details', spot.RowKey]">
                <ion-icon style="transform: scale(1.5);" name="chevron-back-outline"></ion-icon>
            </a> 
            {{spot != null ? spot.name : "Not found"}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!isLoading && common.errorMessage != null">
    {{common.errorMessage}}
</ion-content>

<div *ngIf="isLoading" class="loadingDiv">
    <ion-spinner name="bubbles"></ion-spinner>
</div>

<ion-content [fullscreen]="true" *ngIf="!isLoading && common.errorMessage == null">
    <ion-card>
        <ion-card-content (click)="addImages()">
            <ion-button slot="start">Add images</ion-button>
            <div class="form-group mt-3">
                Description
                <input [(ngModel)]="spot.description" type="text" class="form-control" />
            </div>
        </ion-card-content>
        </ion-card>
</ion-content>

    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="saveChanges()" style="--background:green">
        <ion-label style="color: white;">Save</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="cancel()" style="--background:red">
        <ion-label style="color: white;">Cancel</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  